@font-face{
  font-family: adelle-sans;
 src: url(https://use.typekit.net/af/9f2f2a/00000000000000003b9acf30/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/9f2f2a/00000000000000003b9acf30/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/9f2f2a/00000000000000003b9acf30/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:adelle-sans;src:url(https://use.typekit.net/af/bcee4d/00000000000000003b9acf2f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/bcee4d/00000000000000003b9acf2f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/bcee4d/00000000000000003b9acf2f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family:adelle-sans;
 src: url(https://use.typekit.net/af/708bdf/00000000000000003b9acf2e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/708bdf/00000000000000003b9acf2e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/708bdf/00000000000000003b9acf2e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;}@font-face{font-family:adelle-sans;src:url(https://use.typekit.net/af/03e1a3/00000000000000003b9acf2d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/03e1a3/00000000000000003b9acf2d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/03e1a3/00000000000000003b9acf2d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:adelle-sans;
  src: url(https://use.typekit.net/af/5b7343/000000000000000000012afd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/5b7343/000000000000000000012afd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/5b7343/000000000000000000012afd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("opentype");
  font-weight: 600;
  font-style: normal;
}

/*
 *    Base Styles
 */

html body {
  font-family: "adelle-sans", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.42857143;
  background-color: #f7f5f5;
  color: #3f3f3f;
}

.navbar {
  width: 100%;

  display: flex;
  align-items: center;
  height: 70px;
  background-color: #00c2a2;
  margin-top: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-content {
  width: 66%;
  max-width: 980px;
  margin: 0 auto;
  color: white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  display: flex;
  align-items: flex-end;
}
.navbar-right {
  width: 100%;
  max-width: 700px;
}
.navbar-right ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-right ul li {
  text-transform: uppercase;
  margin-left: 2rem;
  letter-spacing: 0.6px;
}

.content {
  width: 66%;
  max-width: 980px;
  margin: 0 auto;
}

textarea {
  width: 100%;
  border: none;
  background: none;
  font-family: adelle-sans,Helvetica,Arial,sans-serif
  font-size: 20px;
  resize: none;
  margin: 0;
}

/*
 *    Student Feedback Styles
 */
.student-feedback-container {
  position: relative;
  background-color: #e5e5e5;
  padding: 13px 20px 16px;
  margin-top: 20px;
  border-radius: 2px;
  width: 100%;
}
.student-feedback-container p {
  animation: fadein .8s 1;
  font-family: Roboto-mono,Monaco,Inconsolata,monospace;
  margin-bottom: 0;
  font-size: 20px;
  color: #5a5a5a;
  line-height: 1.45;
}

.cue {
  background-color: #fffed5;
  line-height: 28px;
  font-size: 20px;
  font-family: Roboto-mono,Monaco,Inconsolata,monospace;
  margin-right: 13px;
  padding: 0 5px;
}
.info-icon {
  /* src: https://assets.quill.org/images/icons/question_icon.svg */
}

.feedback-row {
  font-family: Roboto-mono,Monaco,Inconsolata,monospace;
  margin-bottom: 0;
  font-size: 20px;
  color: #5a5a5a;
  line-height: 1.45;
}

.text-editor-card {
  margin-top: 20px;
  min-height: 68px;
  background-color: #fafafa;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.24), 0 0 2px 0 rgba(0,0,0,.12);

  font-family: Courier New;
  font-size: 22px;
  margin-bottom: 1em;
  color: #3f3f3f;

  width: 100%;
}

.question-button-group {
  display: flex;
  justify-content: flex-end;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  background-color: #fff;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  color: #303030;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;
}
.question-button {
  background-color: #00c2a2;
  font-family: adelle-sans,Helvetica,Arial,sans-serif;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  padding: 0 25px;
}
.is-disabled {
  opacity: 1;
  background-color: #bcbcbc;
  border-color: #f4f4f4;
  cursor: not-allowed;
  pointer-events: none;
}
