<!doctype html>
{% load static %}
<html>
  <head>
    <title>Quill Comprehension</title>
    <link rel="stylesheet" type="text/css" href="{% static 'quillcomp_web/style.css'%}"></link>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Mono"></link>
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div class="navbar">
      <nav class="navbar-content">
        <div class="navbar-header">
          <a class="brand" href="/">
            <img src="https://www.quill.org/images/quill_header_logo.svg" alt="Quill Logo" />
          </a>
        </div>
        <div class="navbar-right">
          <ul>
            <li><a href="/prompts/">But</a></li>
            <li>Because</li>
            <li>So</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
